<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Lamia-Mokhlis-Mostafa-S2-B1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GestionProjetServlet</servlet-name>
    <servlet-class>com.project.controller.GestionProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProjetServlet</servlet-name>
    <url-pattern>/projets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/tasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionEquipeServlet</servlet-name>
    <servlet-class>com.project.controller.GestionEquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEquipeServlet</servlet-name>
    <url-pattern>/equipes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionMembreServlet</servlet-name>
    <servlet-class>com.project.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMembreServlet</servlet-name>
    <url-pattern>/membres</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>